nav {
    background-image: linear-gradient(to right, #EB6AA3, #FFBB73);
    padding: 15px;
    margin-top: 10px;
    width: 400px;
    
}

.link-nav{
    padding: 10px;
}

.link-header{
    text-decoration: none
}

main img {
    margin-bottom: 20px;
}